h1{
    font-size: 400%;
}

*{
    color: white !important;
}

.backbtn{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 0;
    outline: none;
    font-size: 20px;
    font-family: 'whitney', roboto, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    border: var(--smooth-blue) solid 2px;
    background-color: transparent;
    transition: 1s ease;
}

.backbtn:hover{
    background-color: var(--blue);
    border: var(--blue) solid 2px;
}