@charset "UTF-8";

@font-face {
    font-family: "whitney";
    src: url("../fonts/Whitney-Book-Bas.otf");
}

* {
    --smooth-blue: #92bae0;
    --blue: #3e78b2;
    --black: #2a2b2a;
    --green: #44dc5b;
    --orange: #e96d33;
}

::-webkit-scrollbar {
    width: 0px;
}

.teachercard {
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 90%;
}

.teachercard img {
    border-radius: 10px;
    border: 2px solid var(--blue);
}

.cpr {
    font-size: 11px;
    text-align: right;
}