@charset "UTF-8";

@font-face {
    font-family: "whitney";
    src: url("../fonts/Whitney-Book-Bas.otf");
}

* {
    --smooth-blue: #92bae0;
    --blue: #3e78b2;
    --black: #2a2b2a;
    --green: #44dc5b;
    --orange: #e96d33;
}

::-webkit-scrollbar {
    width: 0px;
}

body{
    background-color: black !important;
    color: white !important;
}